.list li {
  cursor: pointer;
}
.list {
  margin-bottom: 20px;
  max-width: 600px;
  margin: 0px auto;
}

.button:hover {
  background-color: black;
  color: white;
}

.button {
  transition: background-color 200ms ease 0ms;
  pointer-events: auto;
  cursor: pointer;
  background: #e7e7e7;
  border: none;
  padding: 1.5rem 3rem;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  display: inline-block;
}

.button::before,
.button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main {
  padding: 20px;
}

.active {
  background-color: black;
  color: white;
}
