<app-navigation-toolbar></app-navigation-toolbar>
<div class="main">
  <div class="list" (click)="tabSelect($event)">
    <button class="button active">clients</button>
    <button class="button">offers</button>
    <button class="button">countries</button>
    <button class="button">destinations</button>
  </div>

  <div *ngIf="selectedTopic === 'clients'">
    <app-list-clients (onSelect)="onReceiveClient($event)"></app-list-clients>
    <button
      class="button"
      (click)="currentTabModalVisible = !currentTabModalVisible"
    >
      Add new client
    </button>
    <app-add-edit-delete-client
      *ngIf="currentTabModalVisible"
      [client]="selectedClient"
    ></app-add-edit-delete-client>
  </div>

  <div *ngIf="selectedTopic === 'offers'">
    <app-list-offers (onSelect)="onReceiveOffer($event)"></app-list-offers>

    <button
      class="button"
      (click)="currentTabModalVisible = !currentTabModalVisible"
    >
      Add new offer
    </button>

    <app-add-edit-delete-offer
      *ngIf="currentTabModalVisible"
      [offer]="selectedOffer"
    ></app-add-edit-delete-offer>
  </div>

  <div *ngIf="selectedTopic === 'countries'">
    <app-list-countries
      (onSelect)="onReceiveCountry($event)"
    ></app-list-countries>
    <button
      class="button"
      (click)="currentTabModalVisible = !currentTabModalVisible"
    >
      Add new country
    </button>

    <app-add-edit-delete-country
      *ngIf="currentTabModalVisible"
      [country]="selectedCountry"
    ></app-add-edit-delete-country>
  </div>

  <div *ngIf="selectedTopic === 'destinations'">
    <app-list-destinations
      (onSelect)="onReceiveDestination($event)"
    ></app-list-destinations>
    <button
      class="button"
      (click)="currentTabModalVisible = !currentTabModalVisible"
    >
      Add new destination
    </button>

    <app-add-edit-delete-destination
      *ngIf="currentTabModalVisible"
      [destination]="selectedDestination"
    ></app-add-edit-delete-destination>
  </div>
</div>
