<mat-card class="card-container add-client">
  <mat-card-header>
    <mat-card-title>Client option</mat-card-title>
    <mat-card-subtitle>Add/Edit/Delete</mat-card-subtitle>
  </mat-card-header>
  <div mat-card-image></div>
  <mat-card-content>
    <form [formGroup]="form" class="form-container">
      <mat-form-field>
        <mat-label>First name</mat-label>
        <input
          placeholder="First name"
          matInput
          type="text"
          formControlName="firstName"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Last name</mat-label>
        <input
          placeholder="Last name"
          matInput
          type="text"
          formControlName="lastName"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input
          placeholder="Username"
          matInput
          type="text"
          formControlName="username"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          placeholder="Email"
          matInput
          type="email"
          formControlName="email"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          placeholder="Password"
          matInput
          type="password"
          formControlName="password"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Retype Password</mat-label>
        <input
          placeholder="Password"
          matInput
          type="password"
          formControlName="retypePassword"
        />
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="onSubmit()">SAVE</button>
    <button mat-button (click)="onDelete()" *ngIf="form.controls['id'].value">
      DELETE
    </button>
  </mat-card-actions>
</mat-card>
