.card-format {
  margin: 16px auto;
  width: 90%;
}
.div-logo {
  display: flex;
}
.img-logo {
  width: 100px;
  height: 100px;
  margin: auto;
  margin-top: 60px;
}
.title-p {
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.list li {
  cursor: pointer;
}
.list {
  margin-bottom: 20px;
  max-width: 600px;
  margin: 20px auto;
}

.button:hover {
  background-color: black;
  color: white;
}

.button {
  transition: background-color 200ms ease 0ms;
  pointer-events: auto;
  cursor: pointer;
  background: #e7e7e7;
  border: none;
  padding: 1.5rem 3rem;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  display: inline-block;
}

.button::before,
.button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.active {
  background-color: black;
  color: white;
}
