<app-navigation-toolbar></app-navigation-toolbar>

<mat-card class="card-format">
  <div>
    <p>
      {{ description }}
    </p>
  </div>
</mat-card>

<div class="list" (click)="tabSelect($event)">
  <button class="button active">offers</button>
  <button class="button">countries</button>
  <button class="button">destinations</button>
</div>

<div *ngIf="selectedTopic === 'offers'">
  <h2 class="title-p">Our offers</h2>
  <app-list-offers></app-list-offers>
</div>

<div *ngIf="selectedTopic === 'destinations'">
  <h2 class="title-p">Our destinations</h2>
  <app-list-destinations></app-list-destinations>
</div>

<div *ngIf="selectedTopic === 'countries'">
  <h2 class="title-p">Our countries</h2>
  <app-list-countries></app-list-countries>
</div>
